.container{
    margin: 0 auto;
    max-width: 1366px;
    max-height: 768px;
    background-image:url(../img/background.png);
    font-family:AdobeInvisFont, Verdana-Bold, Courier, serif;
}
.content{
    margin: 0 auto;
    width: 1061px;
    height: 640px; 
}
a{
    text-decoration: none;
}
/* .logo-img{
    display:inline-block;
} */
.logo-img{
    display: inline-block;
    background: url(..//img/sp.png) no-repeat;
    height: 43px;
    width: 46px;
    background-position: -46px
    
}
.logo-text{
    display: inline-block;   
    color: white;
    text-transform: uppercase;    
}
.logo{
    padding: 49px 0;
}
.logo-text-big{
    font-size: 29px;
}
.logo-text-small{
    font-size: 18px;
}
.logo-description{
    margin-top: 15px;
    float: right;
    color: white;
}
.logo-description-email{
    font-size: 18px;
    color: white;
}
.logo-description-phone{
    font-size: 18px;
    color: white;
}
.tour-card{
    position: relative;
    float: left;
    margin-right: 69px;
}
.tour-card-description{
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 20px 0;
}
.copyripht{
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 60px 0 20px 0;
}
a :hover{
    color: #f26522;
}
.tour-card:nth-child(3n){
    margin-right: 0;
}
.test{
    position: absolute;
    top: 125px;
    width: 100%;
    height: 30%;
    background: #F26522;
    display: none;
}
.min-price{
    margin: 32px 0 10px 42px;
    font-size: 10px;
    color: white;
}
.price-value{   
    font-size: 20px;
    margin-left: 42px;
    color: white;
}
.info{
    display: inline-block;
}
.details{ display: inline-block;
    font-size: 14px;
    color: white;
    margin-left: 80px;  
}
.tour-card:hover .test{
    display: block;
}

.logo-img:hover{
    background-position: 0;
    
}








